.thumbnailContainer{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
}

.thumbnailContainer img{
    width: 100%;
}

.thumbnailContainer img:hover{
    transform: none;
    opacity: 1;
}


.thumbnailDetails{
    display: flex;
    /* background-color: red; */
    position: relative;
    padding-top: 10px;
}

.thumbnailDate{
    width: 15%;
    height: 100%;
    font-family: 'Poppins',sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
}

.thumbnailDate p{
    /* background-color: blue; */
    font-size: 19px;
    padding: 0 0 0 5px;
    margin: 0px;
    color:#335061;
    text-transform: uppercase;
    /* text-align: center; */
}

p.date{
    font-size: 34px;
    /* color: #EB4438; */
}

.thumbnailNameDetails{
    width: 85%;
    /* font-size: 10px; */
    height: 100% !important;
    /* padding: 5px; */
    font-family: 'Lexend Deca',sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    grid-gap:0px;
    
}

.thumbnailTitle p{
    font-weight: bolder;
    margin: 0;
    padding: 0 0 0 5px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1; 
            line-clamp: 1; 
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    color:#335061;
}

.thumbnailDescription p{
    font-size: 13px;
    margin: 0;
    padding: 0 0 0 5px;
    text-align: justify;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
            line-clamp: 2; 
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    color:rgba(51, 80, 97, 0.7);
}

.thumbnailLinks a{
    text-decoration: none;
    font-size: 14px;
    color: #EB4438;
    font-weight: bolder;
    margin: 0;
    padding: 0 0 0 5px;
}

.thumbnailContainer {
    display: block;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
  }
  
  .thumbnailImage {
    width: 100%; /* Adjust this width as needed */
    height: 300px; /* Adjust this height as needed */
    margin-right: 10px;
    overflow: hidden;
  }
  
  .thumbnailImage img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Keeps the aspect ratio and fits the image */
  }
  
  .thumbnailDetails {
    flex: 1;
  }
  
  

@media only screen and (max-width: 798px) {
    .thumbnailDate{
        width: 20%;
    }
    
    .thumbnailNameDetails{
        width: 80%;
    }
    
}