
.event{
    width:100%;
}

.cardHeading h3{
    font-size: 40px;
    font-weight: bold;
    color: #335061;
    margin-left: 10%;
    margin-bottom: 5%;
    text-align: left;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 80%;
    margin: 0 auto;
    grid-column-gap: 20px;
}

.cardItem{
    padding: 5%;
    height: 300px;
    background-color: rgba(51, 80, 97, 0.1);
    transition: all 0.45s ease-in-out;
    position: relative;
}

.cardItem:hover{
    background-color: rgba(51, 80, 97, 0.2);
}

.cards h3{
    color: #EB4438;
    font-size:24px;
    margin-bottom: 15px;
}

.cards p{
    font-size: 14px;
    color: #335061;
}

.cards a{
    font-size: 13px;
    text-decoration: none;
    border: 1px solid #EB4438;
    padding: 5px 10px;
    background-color: #EB4438;
    color:#ffffff !important;
    position: absolute;
    bottom:5%;
}

@media only screen and (max-width: 798px) {
    .cards{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 80%;
        margin: 0 auto;
        grid-row-gap: 30px;
    }
    .cardHeading h2{
        font-size: 35px;
        margin-bottom: 30px;
    }
    
}
