@import url(//db.onlinewebfonts.com/c/d1a580023d40c546276decde1c711e60?family=Suisse+Intl);

.positive{
    height: 500px;
    width: 400px;
    float: left;
}

.font{
    color: #355061;
        font-family: 'Lexend Deca', sans-serif;
        font-size:70px;
        display: inline;
        font-weight: bolder;
}

.font.orange{
    color: #EB4438;
}

.orangeTitle{
    color: #EB4438;
}

.div1{
    background-color: red; 
    height: 400px;
    
    
}



.about{
    color: #355061;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 3rem;
    display: inline;
}

.us{
    
        font-family: 'Lexend Deca', sans-serif;
        font-size: 4rem;
        display: inline;
}

.row {
    display: flex;
    /* equal height of the children */
}

.change{
    padding: 30px;
}

.size{
    font-size: 2rem;
}
.dep{
    display: block;
    width: 70%;
    position: relative;
    bottom: 50px;
    right: 100px;
    padding-right: 100px;
    margin-right: 250px;
}
.right{
    display: block;
    position:relative;
    right:0;
    top:0;
    float: right;
    margin-left: 30px;
}
.content{
    width: 60%;
    height: 80%;
    font-size: 1.25rem;
    }
.deptspace{
    margin: 1% auto;
}

/* .orange{
    color: #EB4438;
} */


.left{
    float: left;
    margin-right: 30px;
}

.image{
    border-radius: 100%;
    width: 100px;
    height: 100px;
}
.history{
    text-align: center;
}
.about-text{
    font-family:'Proxima Nova';
    color: white;
    line-height: 1.6;
    display: inline;
    font-size: 22px;
}

.small{
    font-size: 1.5rem;
    color: #666;
}

body{
    padding: 0;
}

.visible{
    display: none;
}


h1 span {
    padding: 5px 15px;
    background: #355061;
}

.dictionary {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 4rem auto;
    max-width: 90%;
}
dt {
    color: #355061;
    line-height: 1;
}

.term {
    text-align: center;
    max-width: 20rem;
    margin-bottom: 3rem;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05), 0 5px 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: all 100ms ease-in-out;
}

.term:hover {
    background-color: #EB4438;
    opacity: 0.8;
    color: white;

}

dt:hover{
    color: white;
}

.dictionary>.term>dt {
    margin-bottom: 1rem;
}


dd {
    font-size: 92.5%;
    margin-left: 0;
}

dd dt {
    margin-top: 1rem;
    margin-bottom: 0.25rem;
    font-weight: 600;
    font-size: inherit;
}

dd dl {
    font-size: 90%;
    margin: 1rem auto 0 auto;
    letter-spacing: 0.33px;
    max-width: 15rem;
}

dd dl .term {
    margin-bottom: 1rem;
}

.div2 {
    animation-name: example;
    animation-duration: 2s;
}

.head { 
    height: 100vh;
    /* background: linear-gradient(0deg, rgba(53, 80, 97, 0.7), rgba(53, 80, 97, 0.7)); */
    background-size: cover;
    position: relative;
    top: 0;
}

.lala{
    background-color: rgb(245, 245, 245);
}


.abt{
    color: #355061;
}


/* DEPT DESCRIPTION */

.deptImage{
    width:40%;
    /* background-color: red; */
    margin: 30px;
}

.deptImage img{
    width:90%;
    margin: 0 auto;
}

.deptContent{
    width: 60%;
    padding: 0 15px;
}

.deptInformation{
    width:80%;
    margin: 0 auto 5% auto;
    /* background-color: red; */
    align-items: center;
    justify-content: center;
}


.deptInformation.l{
    display: flex;
    flex-direction: row;
}

.deptInformation.l .dep{
    display: flex;
    flex-direction: row;
}

.deptInformation.r{
    display: flex;
    flex-direction: row-reverse;
}

.deptName{
    font-size: 40px;
    font-weight: bolder;
    color: #EB4438;
    margin-bottom: 20px;
}

.deptDescription{
    font-size: 18px;
    text-align: justify;
}


/* TIMELINE */

* {
	
	font-family: 'Lexend Deca', sans-serif;
}
/* @font-face {
	font-family: Poppins;
	src: url(./fonts/Poppins-Medium.ttf);
} */
.main {
	width: 100%;
	height: auto;
	display: grid;
	place-items: center;
	background-color: rgb(245, 245, 245);
	padding: 0px;
    margin: 0;
}

/* Container Css Start  */

.containers {
	width: 65%;
	height: auto;
	margin: 50px 0;
    /* background-color: red; */
	position: relative;
}
.containers ul {
	list-style: none;
    transform: translateX(-1.4%);
}
.containers ul::after {
	content: "";
	position: absolute;
	width: 2px;
    min-height: 30%;
	left: 51.5%;
	top: 0;
	/* transform: translateX(-50%); */
    background-color: #355061 !important;
    z-index: 100;
}

.line{
    position: absolute;
    /* bor */
}

.containers ul li {
	width: 50%;
	height: auto;
	padding: 15px 20px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.218);
	position: relative;
	margin-bottom: 30px;
	z-index: 99;
    text-align: left;
}


.containers ul li .circle {
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #666;
	top: 0;
	display: grid;
	place-items: center;
    opacity: 0;
}
.circle::after{
	content: ' ';
	width: 12px;
	height: 12px;
	background-color: #355061;
	border-radius: 50%;
}
ul li:nth-child(odd) .circle {
	transform: translate(50%, -50%);
	right: -30px;
}
ul li:nth-child(even) .circle {
	transform: translate(-50%, -50%);
	left: -30px;
}
ul li .date {
	position: absolute;
	width: 130px;
	height: 33px;
	background-color: #EB4438;
	border-radius: 15px;
	top: -45px;
	display: grid;
	place-items: center;
	color: #fff;
	font-size: 13px;
	box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.318);
}
.containers ul li:nth-child(odd) {
	float: left;
	clear: right;
	text-align: right;
	transform: translateX(-30px);
}
ul li:nth-child(odd) .date {
	right: 20px;
}
.containers ul li:nth-child(even) {
	float: right;
	clear: left;
	transform: translateX(30px);
}
ul li .heading {
	font-size: 17px;
	color: #355061;
}
ul li p {
	font-size: 13px;
	color: #666;
	line-height: 18px;
	margin: 6px 0 4px 0;
}
ul li a {
	font-size: 13px;
	text-decoration: none;
	color: #EB4438;
	transition: all 0.3s ease;
}

.heads{
    display: grid;
    min-height: 80vh;
    grid-template-columns: 1fr 1fr;
    width:60%;
    margin: 0 auto;
    margin-bottom: 20vh;
    padding: 0 auto 20% !important;
    text-align: justify;
    align-items: end;
    justify-content: center;
    font-size: 15px;
}

.imageee{
    position: absolute;
    top:0;
    width:100vw;
    height: 100vh;
    /* background-image: url(./../illustrations/dots2.svg); */
    background-position: center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
}

.heads .aboutLeft p{
    font-family: 'Lexend Deca';
    font-size: 70px;
    font-weight: bolder;
    line-height: 0.5;
    position: relative;
    bottom: 0;
    color: #355061;
}

.aboutLeft span p{
    color:#EB4438 !important;
}

.aboutLeft{
    /* background-color: red; */
    padding: 8px 0;
    /* margin: 0 !important; */
}

.aboutRight{
    color: #355061;
    font-size: 16px;
    /* background-color: blue; */
    display: block;
    justify-content: end;
}


@media only screen and (min-width:798px) and (max-width: 1100px) {
	.containers{
		width: 80%;
	}

    /* DEPT DESCRIPTION */

    .deptImage{
        width:100%;
        margin: 0px;
    }

    .deptContent{
        width: 100%;
    }

    .deptInformation{
        width:85%;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }


    .deptInformation.l{
        display: block;
    }

    .deptInformation.l{
        display: block;
    }

    .deptInformation.r{
        display: block;
    }

    .deptName{
        font-size: 40px;
        font-weight: bolder;
        color: #355061;
        margin-bottom: 20px;
    }

    .deptDescription{
        font-size: 18px;
        text-align: justify;
    }

}

@media only screen and (max-width: 798px) {
	.containers{
		width: 100%;
		transform: translateX(-20px);
	}

    .containers ul{
        width: 100%;
    }
	.containers ul li {
		width: 100%;
		float: none;
		clear: none;
		margin-bottom: 80px;
	}

	.containers ul li .date{
		left: 0px;
	}
	.containers ul li:nth-child(odd) {
		transform: translateX(0px);
		text-align: left;
	}
	.containers ul li:nth-child(even) {
		transform: translateX(0px);
	}

    
    .deptImage{
        width:100%;
        margin: 0px;
    }

    .deptContent{
        width: 100%;
    }

    .deptInformation{
        width:90%;
        margin: 0 auto 20%;
        align-items: center;
        justify-content: center;
    }

    .deptInformation.l{
        display: block;
    }

    .deptInformation.l{
        display: block;
    }

    .deptInformation.r{
        display: block;
    }

    .deptName{
        font-size: 30px;
        font-weight: bolder;
        color: #355061;
        margin-bottom: 20px;
    }

    .deptDescription{
        font-size: 18px;
        text-align: justify;
    }

    .heads{
        grid-template-columns: 1fr;
        grid-row-gap:20px;
        width:80%;
        margin: 50% 10%;
        font-size: 15px;
    }
}

@media only screen and (max-width: 550px) {
	.containers{
		width: 80%;
	}
	.containers ul::after{
		left: -20px;
	}
	.containers ul li .circle{
		left: -20px;
	}
}
    




